# ASSIGNMENT

Using connection credentials provided below, create a Jupyter notebook that uses SQL ALchemy to access a SQL database containing data about movies. Use Python to answer some basic questions about the data. 

***For each question, you should have a seperate cell in your Notebook that prints out the answer***

Credentials

*  postgres_user = 'dsbc_student'
*  postgres_pw = '7*.8G9QH21'
*  postgres_host = '142.93.121.174'
*  postgres_port = '5432'
*  postgres_db = 'dvdrentals'

In [0]:
#make sure sqlalchemy is installed
!pip install sqlalchemy
!pip install psycopg2
!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.16)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.5)

In [0]:
# import libraries
from sqlalchemy import create_engine

In [0]:
#create variables for credentials and create egine
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

#start a connection to the database
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

1.  How many movies are released for each rating?

In [0]:
sql = '''
SELECT rating, COUNT(*)
FROM film
GROUP BY rating;
'''

films = engine.execute(sql)

engine.dispose

for row in films:
  print(row)

('R', 195)
('NC-17', 210)
('PG', 194)
('PG-13', 223)
('G', 178)

2.  What is the average rental duration for each rating?

In [0]:
sql2 = '''
SELECT rating, ROUND(AVG(rental_duration),2)
FROM film
GROUP BY rating;
'''
rental_duration = engine.execute(sql2)

for row in rental_duration:
  print("The average rental durations for each rating are:", row)

The average rental durations for each rating are: ('R', Decimal('4.77'))
The average rental durations for each rating are: ('NC-17', Decimal('5.14'))
The average rental durations for each rating are: ('PG', Decimal('5.08'))
The average rental durations for each rating are: ('PG-13', Decimal('5.05'))
The average rental durations for each rating are: ('G', Decimal('4.84'))

3.  What is the mean movie length? Calculate this by defining a function.

In [0]:
sql3 = '''
SELECT 
  length
FROM
  film;
'''

length = engine.execute(sql3)

engine.dispose()

rows = length.fetchall()

lengths = [x['length'] for x in rows]

In [0]:
def mean(nums):
  total_sum = 0;  
  for n in nums:
    total_sum += n 
  count = len(nums)
  avg = total_sum / count
  return avg 

print("The mean of film lengths is: ",(mean(lengths)))

The mean of film lengths is:  115.272

4.  What is the median movie length? Calculate this by defining a function.

In [0]:
import math

def median(nums):
  nums.sort()
  count = len(nums)
  isEven = count % 2 == 0
  
  if (isEven):
    # find the middle of the array
    mid = math.floor( count / 2 )
    a = nums[mid - 1]
    b = nums[mid]
    # find the average of these two numbers
    ans = (a + b) / 2
  else:
    ans = nums[math.floor( count / 2 )]
 
  return ans

print("The median of film lengths is: ",(median(lengths)))

The median of film lengths is:  114.0

5.  Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [0]:
def standard_deviation(nums):
  X_bar = mean(nums)
  N = len(nums)
  total_sum = 0
  for X in nums:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

print('The standard deviation of the film lengths is: ',(standard_deviation(lengths)))

The standard deviation of the film lengths is:  40.42633181855988